<h1>My Store</h1>
<h2>Products for the whole family</h2>
<div id="image">
<img src="https://www.latercera.com/resizer/bqGmSB9zaav9BRXPcQKR-3SGXNk=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/KPEK5OWGKFEQNEVBIWOIPKEXOM.jpg">
</div>

<h2>Join!</h2>
<form id="form-product" action="/api/login" method="POST" class="container">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="login" name="email" />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>

  <button class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">Login</button>
  <a href="/signup" class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">Sign up</a>
  </form>



<div id="session-success">

</div>