<h1>Message Center</h1>
<h2>Queries</h2>
<label for="email" class="form-label">Email</label>
<input type="email" name="email" id="email" class="form-control">

<label for="firstName" class="form-label">Name</label>
<input type="text" name="firstName" id="firstName" class="form-control">

<label for="lastName" class="form-label">lastName</label>
<input type="text" name="lastName" id="lastName" class="form-control">

<label for="age" class="form-label">Age</label>
<input type="text" name="age" id="age" class="form-control">

<label for="alias" class="form-label">Alias</label>
<input type="text" name="alias" id="alias" class="form-control">

<label for="avatar" class="form-label">Image Avatar:</label>
<input type="text" name="avatar" id="avatar" class="form-control">


<label for="message-chat" class="form-label">Check for your favorite product</label>
<input type="text" name="message-chat" id="message-chat" class="form-control">

<button id="btn-sendchat" class="btn btn-primary">Send Message</button>

<h4>CHAT</h4>
<div style="border: 1px solid black;" id="chat-board">

{{#each allMsgChat}}

<p>{{this.author.id}} dice: {{this.text}}</p>

{{/each}}

</div>
