<h1>VHS</h1>
<h2>Tu video Club Virtual</h2>
<div id="michael">
<img src="https://i.blogs.es/65a756/halloween-kills/450_1000.jpg">
</div>

<h2>Log in</h2>
<form id="form-product" action="/api/login" method="POST" class="container">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="login" name="email" />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>

  <button class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">Log in</button>
  <a href="/signup" class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">REGISTRATION</a>
  </form>



<div id="session-success">

</div>