<section id="despedida">
    <h2>Bye {{username}} !</h2>
</section>
<div id="ghost">
<img src="https://www.latercera.com/resizer/bqGmSB9zaav9BRXPcQKR-3SGXNk=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/KPEK5OWGKFEQNEVBIWOIPKEXOM.jpg">
</div>
<h2>see you soon</h2>
<script >
    setTimeout(() => {
        window.location.href = '/login'
    }, 2000)
</script>