<head>
  <title><%= error %> ERROR</title>
  <link rel="shortcut icon" href="../../img/jazmin.png">
  <link rel="stylesheet" href="../css/index.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="error-container">
    <h1>Usuario incorrecto <%= error %></h1>
    <a href="/login">
      <button class="btn-desloguear">Volver</button>
    </a>
  </div>
</body>
