<head>
  <title>Logout</title>
  <link rel="shortcut icon" href="../../img/jazmin.png">
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
  <div class="usuario-container">
    <div class="desloguear">
      <h2>Hasta luego <%= user.username %>!</h2>
    </div>
    <img src="https://us.123rf.com/450wm/octyabr/octyabr2002/octyabr200200328/140506303-adi%C3%B3s-letras-dibujadas-a-mano-aislado-sobre-fondo-blanco-de-color-negro-.jpg?ver=6">
  <script>
    const highestTimeoutId = setTimeout(() => ';');
    for (let i = 0; i < highestTimeoutId; i++) { clearTimeout(i); }
    setTimeout(() => {
      location.href = '/';
    }, 2000);
  </script>
</body>
