<head>
  <title>Logout</title>
  <link rel="shortcut icon" href="../../img/jazmin.png">
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
  <div class="usuario-container">
    <div class="desloguear">
      <h2>Hasta luego <%= user.username %></h2>
    </div>
    <img src="https://files.tecnoblog.net/wp-content/uploads/2022/03/ghostface.jpg">
  <script>
    const highestTimeoutId = setTimeout(() => ';');
    for (let i = 0; i < highestTimeoutId; i++) { clearTimeout(i); }
    setTimeout(() => {
      location.href = '/';
    }, 2000);
  </script>
</body>
