<% if(mensajes.length) { %>
  <div class="mensajes-container">
    <h2 class="subtitulo">Escribi una pregunta</h2>
    <p>Busca lo que queres saber!</p>
    <br>
    <% mensajes.forEach(mensaje => { %>
      <div class="mensaje">
        <div class="img-container">
          <img src="<%= mensaje.author.avatar %>" alt="Not Found" />
        </div>
        <div>
          <p><%= mensaje.author.id %> :</p>
        </div>
       
        
        <div>
          <p><%= mensaje.text.text %></p>
          <p><%= new Date(Date.parse(mensaje.text.hora)).toLocaleString() %></p>
        </div>
        
        
      </div>
    <% }); %>
  </div>
<% } %>