<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Chat</title>
	<link rel="shortcut icon" href="../img/jazmin.png" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/chat.css" />
</head>
<body>
	<% if(user) { %>
		<script>
			// Tiempo que dura el login antes de cerrarse
			const TIEMPO_SESION = 60000
			// Se borran los Timeout anteriores
			const highestTimeoutId = setTimeout(() => ';');
			for (let i = 0; i < highestTimeoutId; i++) {
				clearTimeout(i);
			}
			setTimeout(() => { location.href = '/logout'; }, TIEMPO_SESION);
		</script>
		<% } %>
	<div class="usuario-container">
		<a href="/">
			<button class="nav-bar-line">Volver</button>
		</a>
	</div>
	<img id="img-chat" src="../img/contacto-desktop_1.webp" alt="contacto">
	<div class="outer-container">
		
		<h2 class="titulo">Preguntanos lo que quieras! </h2>
		
		<form class="mensajes-form">
			<label for="email">Email</label>
			<input <% if(user) { %> value="<%= user.email %>" <% } %> type="email"
			name="email" required />
			<label for="nombre">Nombre</label>
			<input <% if(user) { %> value="<%= user.username %>" <% } %> type="text" name="nombre" required />
			<label for="apellido">Apellido</label>
			<input type="text" name="apellido" />
			<label for="edad">Edad</label>
			<input <% if(user) { %> value="<%= user.edad %>" <% } %> type="text" name="edad" />
			<label for="alias">Alias</label>
			<input type="text" name="alias" />
			<label for="avatar">Avatar</label>
			<input <% if(user) { %> value="<%= user.avatar %>" <% } %> type="text" name="avatar" required />
			<label for="mensaje">Mensaje</label>
			<input type="text" name="mensaje" required />
			<button class="black-button" type="submit">Enviar</button>	
		</form>
		<div class="mensajes"></div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../ejs.min.js"></script>
	<script type="module" src="../js/chat.js"></script>
</body>
